In [9]:
import pandas as pd

raw_word_db = pd.read_csv("../dataset/raw/hsk3_all_words.csv")
raw_word_db.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,The list contatins all the multi-character wor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,№,Word,NaN,Meaning,Freq.,Encounters,Fraction of multi-character words,HSK 2.0,HSK 3.0
2,NaN,Band 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,爱好,ài hào,hobby,3775,366081,"0,004303%",3,1
4,NaN,2,爸爸,bàba,dad,1003,1539349,"0,018092%",1,1

In [10]:
# clean the raw dataset
clean_word_db = raw_word_db.drop(columns=["Unnamed: 0"])
clean_word_db.columns = clean_word_db.iloc[1]
clean_word_db.head()
clean_word_db.drop([0,1,2], inplace=True)
clean_word_db = clean_word_db.iloc[:, [1,2,3,8]]
clean_word_db.columns = ["word_hanzi", "pinyin", "meaning", "hsk_level"]
clean_word_db.reset_index(drop=True, inplace=True)
clean_word_db.head()

  word_hanzi    pinyin      meaning hsk_level
0         爱好    ài hào        hobby         1
1         爸爸      bàba          dad         1
2         白天  bái tiān          day         1
3         半年  bàn nián  half a year         1
4         半天  bàn tiān     half day         1

In [11]:
# remove rows with nan values (they are subheaders) and hsk_level > 6
for tup in clean_word_db.itertuples():
    if pd.isnull(tup.word_hanzi) or tup.hsk_level.isdigit() is False:
        clean_word_db.drop(tup.Index, inplace=True)
clean_word_db.reset_index(drop=True, inplace=True)

In [12]:
print(len(clean_word_db))
clean_word_db.index += 1
clean_word_db.to_csv("../dataset/clean/hsk3_all_words.csv", index=True, index_label="word_id")

4307